.hero-unit {
  height: 160px;
  padding:  10px 60px 30px 60px;
}

.game-place {
  height: 460px;
  background-image: url(../images/water.jpg);
}

.game-grid td {
  width: 45px;
  height: 45px;
  padding: 0;
  border: 1px solid #0000CF;
  vertical-align: center;
  text-align: center;
  color: #CF0000;
}

.game-grid td.ship-normal {
  background-color: #00FF00;
}

.game-grid td.ship-find {
  background-color: #FFFF00;
}

.clicable {
  cursor: pointer;
	
}